<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<a href="/create-product">Create Product</a>
<h1>List Product</h1>
<table border="1px">
  <tr>
    <th>Mã sản phẩm</th>
    <th>Tên sản phẩm</th>
    <th>Giá sản phẩm</th>
    <th>Mô tả sản phẩm</th>
    <th>Nhà sản xuất</th>
    <th>Thao tác</th>
  </tr>
 <th:block th:each="product : ${product}">
   <tr>
            <td th:text="${product.id}"></td>
            <td th:text="${product.nameProduct}"></td>
            <td th:text="${product.priceProduct}"></td>
            <td th:text="${product.descriptionProduct}"></td>
            <td th:text="${product.producer}"></td>
            <td>
              <a th:href="@{/{id}/edit(id=${product.id})}">Edit</a> ||
              <a th:href="@{/{id}/delete(id=${product.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa ???')">Delete</a>
            </td>
   </tr>
 </th:block>
</table>
</body>
</html>